html {
    box-sizing: border-box
}

*, *::before , *:after {
    box-sizing: inherit
}

.wrapper {
    width: 750px
    height: 300px
}

.left {
    background: green;
    width: 400px;
    float: left;
    height: 300px
}

.inside {
    background: firebrick;
    text-align: center;
    height: 20px
}

.middle {
    background: blue;
    width: 200px;
    float: left;
    height: 300px
}

.right {
    background: yellow;
    width: 150px;
    float: left;
    height: 300px
}